@import "../../../styles/variables.scss";

.profile-avatar-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 190px;
}
.profile-header{
    margin-bottom: 28px;

    color: $color__tusur;
}
.profile-avatar{
    width: 180px;
    margin-bottom: 40px;
}