.input-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.label {
  font-weight: 500;
  font-size: 15px;
  color: var(--text-color);
}

.input-normal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 4px;

  border: 1px solid #CDCDCD;
  border-radius: 10px;
}
.input-normal:hover {
  border: 1px solid #0C54A0;
  border-radius: 10px;
}
.input-normal:focus {
  border: 1px solid #0C54A0;
  outline: none;
  border-radius: 10px;
}

.input-error {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 4px;

  border: 1px solid #B32E2E;
  color: #B32E2E;

  border-radius: 10px;
}
.input-error:focus {
  border: 1px solid #fd0404;
  color: #BD1111;
  outline: none;
}

.label-error {
  font-size: 14px;
  color: #BD1111;
}