@import"../../styles/variables.scss";


.button{
    color: $color__white;
    font-weight: 600;

    border: none;

    transition: all 0.3s ease-in-out;
}

.button-blue{
    background-color: $tusur__color;

    border-color: $tusur__color;

    &:hover{
        color: $tusur__color;

        background-color: transparent;
    }
}
.button-green{
    background-color: $green__color;

    border-color: $green__color;

    &:hover{
        color: $green__color;

        background-color: transparent;
    }
}
.button-white{
    color: $tusur__color;

    border-color: $color__white;
    background-color: $color__white;

    &:hover{
        color: $color__white;

        background-color: transparent;
    }
}

.button-small{
    padding: 15px 29px;

    font-size: 16px;
    font-weight: 600;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}
.button-middle{
    padding: 20px 34px;

    font-size: 25px;
    font-weight: 600;

    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
}
.button-big{
    padding: 46px 54px;

    font-size: 30px;
    font-weight: 600;

    border-radius: 40px;
    border-width: 4px;
    border-style: solid;
}

.button:disabled{
    color: rgba($color__white, .5);

    border: none;
    background: #A0A0A0;
}