@import "../../../../styles/variables";

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 740px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 740px) {
    margin-bottom: 85px;
  }

  color: $color__white;

  background: linear-gradient(105deg, #1E5BB8 0%, #3CC2CB 100%);
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1180px) {
    margin: 0 240px;
    .hero_img2 {
      display: none;
    }
    img {
      max-width: 600px;
    }
  }
  @media screen and (min-width: 740px) and (max-width: 1180px) {
    margin: 0 70px;
    .hero_img2 {
      display: none;
    }
    img {
      max-width: 360px;
    }
  }
  @media screen and (max-width: 740px) {
    margin: 0 40px;
    .hero_img {
      display: none;
    }
    img {
      margin-top: 12px;
      margin-bottom: 12px;
      width: 100%;
    }
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 740px) {
    align-items: center;
    text-align: center;
  }
}

.hero-header {
  font-weight: 600;

  @media screen and (min-width: 1180px) {
    line-height: 55px;
    margin-bottom: 25px;
    font-size: 45px;
  }
  @media screen and (min-width: 740px) and (max-width: 1180px) {
    line-height: 55px;
    margin-bottom: 25px;
    font-size: 25px;
  }
  @media screen and (max-width: 740px) {
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
  }
}

.hero-description {
  display: flex;
  align-items: center;

  font-weight: 500;

  @media screen and (min-width: 1180px) {
    line-height: 29px;
    margin-bottom: 25px;
    font-size: 23px;
  }
  @media screen and (min-width: 740px) and (max-width: 1180px) {
    line-height: 29px;
    margin-bottom: 25px;
    font-size: 18px;
  }
  @media screen and (max-width: 740px) {
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: start;

    &__center {
      text-align: center;
    }
  }
}

.hero-accent {
  display: flex;
  flex-direction: row;
  margin-right: 15px;

  font-weight: 600;

  @media screen and (min-width: 1180px) {
    font-size: 64px;
  }
  @media screen and (min-width: 740px) and (max-width: 1180px) {
    font-size: 44px;
  }
  @media screen and (max-width: 740px) {
    font-size: 24px;
  }
}


@media screen and (min-width: 1180px) {
  .btn1 {
    display: none;
  }
  .btn2 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1180px) {
  .btn1 {
    display: none;
  }
  .btn2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 740px) {
  .btn1 {
    margin-bottom: 20px;
  }
  .btn2 {
    display: none;
  }
}