.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 500px;
    /* height: 272px; */
    padding: 30px 20px;

    border-radius: var(--block-border-radius);
    box-shadow: 5px 5px 10px 4px rgba(60, 60, 60, 0.1);
}

.login-header{
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
}

.input-button{
    position: relative;
    margin-top: 45px;

    font-size: var(--text-size);
    font-weight: 500;
    color: var(--color-2);

    border: none;
    /* border-bottom: 1px solid var(--color-2); */
    background: transparent;
    transition: all 0.3s ease-in-out;

    cursor: pointer;
}
.input-button::after{
    position: absolute;
    content: '';
    bottom: 0;
    top: 0;
    left: 0;
    width: 0;
  
    border-bottom: 1px solid var(--color-2);
  
    transition: width 0.3s ease-in-out;
}
.input-button:hover{
    color: var(--color-2);
}
.input-button:hover::after{
    width: 100%;
}
.input-button:hover{
    color: var(--color-1);
}
.input-button:focus{
    outline-color: var(--color-2);
    color: var(--color-2);
}

.error-description{
    margin-top: 30px;

    font-size: var(--text-size);
    line-height: 15px;
    color: var(--error-color-2);
}