@import "../../styles/variables.scss";

.header {
  font-size: 16px;
  color: $color__text;

  background-color: $color__white;
}

.header-container {
  @media screen and (min-width: 740px) {
    &__mobile {
      display: none;
    }
    &__desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media screen and (max-width: 740px) {
    &__mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      padding: 8px 14px;

      img {
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 200px;
      }
    }
    &__desktop {
      display: none;
    }
  }
}

.header-nav {
  width: 40%;
}

.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  @media screen and (max-width: 740px) {
    flex-direction: column;
    align-items: center;
  }
}

.header-nav-link {
  font-weight: 400;
  color: $color__text;

  border-bottom: 1px solid #cfcfcf;
  transition: all 0.3s ease-in-out;
}

.header-nav-link:hover {
  color: $color__tusur;

  border-bottom: 1px solid $color__tusur;
}

.language-switch {
  min-width: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  @media screen and (max-width: 740px) {
    margin-bottom: 0;
    margin-top: auto;
  }
}

.header-dropdown {
  display: flex;
  height: 100%;

  @media screen and (min-width: 1180px) {
    width: 47px;
  }
  @media screen and (min-width: 740px) and (max-width: 1180px) {
    width: 47px
  }
  @media screen and (max-width: 740px) {
    width: 30px;
  }
}

.logo {
  cursor: pointer;
}

.menu-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;

  cursor: pointer;
  height: 100%;

  svg {
    width: 24px;
  }
}

.sidebar {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  background: $color__gray;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    padding: 20px 18px 80px;

    height: 100%;
    width: 38%;

    background-color: $color__white;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 0;

    margin-right: 20px;
    margin-left: auto;

    border-radius: 50%;
    background-color: $color__gray2;
  }
}