@import"../../styles/variables.scss";

.header{
    font-size: 23px;
    color: $color__text;
    
    background-color: $color__bg;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.header-nav{
    flex-grow: 1;
}

.nav-list{
    display: flex;
    justify-content: space-evenly;
}

.header-nav-link{
    font-weight: 400;
    color: $color__text;

    border-bottom: 1px solid #cfcfcf;
}

.language-switch{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}