@import "src/styles/variables";

label {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.cards-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.icon {
  height: 50px;
}

.solution-card {
  display: flex;
  flex-direction: column;

  padding: 16px;
  gap: 20px;

  background: $color__white;
  border: 2px solid #0C54A0;
  border-radius: 15px;
}

.card-topic-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 20px;

  &--text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #4A4A4A;
  }
}

.btn-select {
  display: flex;
  flex-direction: row;

  max-height: 54px;

  align-items: center;

  margin-right: 0;
  margin-left: auto;

  gap: 14px;
}

.second-info {
  display: flex;
  flex-direction: row;

  gap: 30px;
}

.second-info-text {
  display: flex;
  max-width: 272px;
}