.announ-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announ-page-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  margin-bottom: 50px;
}
